@model List<DAL.Models.TrainingHistory>
@using DAL.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Medical Data List</h2>
    </div>
    @if (User.IsInRole(SD.Traineeenduser))
    {
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add Training History </a>
        </div>
    }
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Ring Number
            </th>
            <th>
                Weight
            </th>
            <th>
                Airplane Training Speed
            </th>
            <th>
                Airplane Training Distance
            </th>
            <th>
                Airplane Training Time
            </th>
            <th>
                Hubara Training
            </th>
            <th>
                Hubara Humality
            </th>
            <th>
                Timings
            </th>
            <th>
               Data
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.RingNumber)
            </td>
            <td>
                @Html.DisplayFor(m => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(m => item.AirplaneTrainingSpeed)
            </td>
            <td>
                @Html.DisplayFor(m => item.AirplaneTrainingDistane)
            </td>
            <td>
                @Html.DisplayFor(m => item.AirplaneTrainingTime)
            </td>
            <td>
                @Html.DisplayFor(m => item.HubaraTraining)
            </td>
            <td>
                @Html.DisplayFor(m => item.HubaraHumality)
            </td>
            <td>
                @Html.DisplayFor(m => item.Timinings)
            </td>
            <td>
                @Html.DisplayFor(m => item.Data)
            </td>
            <td>
                @if (User.IsInRole(SD.Traineeenduser))
                {
                   <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list-alt"></i>&nbsp; Edit </a>

                }
            </td>
        </tr>

        }
    </table>
</div>

