@model IEnumerable<DAL.Models.MedicalData>
@using DAL.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Medical Data List</h2>
    </div>
    @if (User.IsInRole(SD.MedicalEndUser))
    {
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add Medical Data </a>
        </div>
    }
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Ring Number
            </th>
            <th>
                Visit Date
            </th>
            <th>
                Cause of Visit
            </th>
            <th>
                Medicine
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.RingNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.VisitDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Disease.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Medicine)
                </td>

                <td>
                    <i class="far fa-list-alt">@Html.ActionLink("Details", "Details", new { id = @item.Id })</i>
                    @if (User.IsInRole(SD.MedicalEndUser))
                    {
                        <i class="far fa-list-alt">@Html.ActionLink("Edit", "Edit", new { id = @item.Id })</i>
                    }
                </td>
            </tr>

        }
    </table>
</div>