@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Color</title>
        <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet" />
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '/Admin/Setting/SeasonData',
                    method: 'get',
                    dataType: 'json',
                    success: function (data) {
                        $('#colors').dataTable({
                            data: data,

                            columns: [

                                {
                                    'data': 'name'
                                }
                                ,
                                {
                                    'data': 'isDefault', "render": function (data) {
                                        if (data == "1") {
                                            return "";
                                        }
                                        else {
                                            return "Make Default";
                                        }
                                        //if (data == "0") {
                                        //    data: 'id', "mrender": function (datsa) {
                                        //        return "<a class='btn btn-default btn-sm badge-primary alert-heading ' style='margin-left:5px' href='/Admin/Setting/set/" + datsa + "'><i class='fa fa - check - square - o' aria-hidden='true'></i> Default</a>;

                                        //    }
                                        //}
                                        //else {
                                        //    columns: [
                                        //        {
                                        //            'data': 'id', "render": function (data) {
                                        //                return "<a class='btn btn-default btn-sm badge-primary alert-heading ' style='margin-left:5px' href='/Admin/Setting/set/" + data + "'><i class='fa fa - check - square - o' aria-hidden='true'></i> Default</a>";

                                        //            }}
                                        //    ]
                                        //}

                                        }

                                      //  return data == '1' ? "" : "<a class='btn btn -default btn - sm badge-primary alert-heading ' style='margin - left: 5px' href='/Admin/Setting / set / " + data + "'><i class='fa fa - check - square - o' aria-hidden='true'></i> Default</a>";
                                    }


                                ,
                                {
                                    data: 'id', name: 'id', "render": function (data) {
                                        return "<a class='btn btn-default btn-sm badge-primary alert-heading ' style='margin-left:5px' href='/Admin/Setting/set/" + data + "'><i class='fa fa - check - square - o' aria-hidden='true'></i> Default</a><a class='btn btn-default btn-sm badge-secondary alert-success ' style='margin-left:5px' href='/Admin/Setting/EditSeasons/" + data + "'><i class='fas fa-edit'></i> Edit</a><a class='btn btn-default btn-sm badge-info alert-info' style='margin-left:5px' href='/Admin/Setting/SeasonsDetails/" + data + "'><i class='far fa-list-alt'></i> Details</a><a class='btn btn-danger btn-sm ' style='margin-left:5px' href='/Admin/Setting/SeasonDelete/" + data + "'><i class='fa fa-trash'></i> Delete</a>";

                                    }
                                }

                            ]



                        });
                    }
                });
            });
            function PopupForm(url) {
                var formDiv = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        formDiv.html(response);
                        Popup = formDiv.dialog({
                            autoOpen: true,
                            resizable: false,
                            title: 'AddSeason',
                            width: 700,
                            height: 500,
                            close: function () {
                                Popup.dialog('destory').remove();
                            }
                        });
                    });
            }
        </script>
    </head>
    <body style="font-family:Arial">
        <div class="border-10">
            <div class="col-6">
                <a class="btn btn-info  " onclick="PopupForm('@Url.Action("AddSeason","Setting")')"><i class="fas fa-plus"></i>&nbsp;Add</a>
            </div>
            <br />

            <div class="alert-light">
                @*//<div style="border:1px solid black;padding:3px;width:1200px">//*@
@*<table id="colors" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>

            <th>Season</th>
        </tr>

    </thead>
    <tfoot>
        <tr>

            <th>Season</th>
        </tr>

    </tfoot>
</table>
        </div>
    </div>

</body>
</html>*@


@*@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

}*@


@model List<DAL.Models.Seasons>
@{
    ViewData["Title"] = "GetSeasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<br /><br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Seasons</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddSeason" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Add New </a>
        </div>
    </div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Season
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @if (item.IsDefault.Equals(false))
                    {
                        @Html.ActionLink("Make Default", "Set", new { id = @item.Id })
                    }

                </td>
                <td></td>
                <td>
                    <i class="far fa-list-alt">@Html.ActionLink("Details", "SeasonsDetails", new { id = @item.Id })</i>
                    <i class="fas fa-edit">@Html.ActionLink("Edit", "EditSeasons", new { id = @item.Id })</i>
                    <i class="far fa-list-alt" onclick="return confirm(' you want to delete this record?');">@Html.ActionLink("Delete", "SeasonDelete", new { id = @item.Id })</i>
                   

                </td>
            </tr>
        }

    </table>
</div>